@charset "UTF-8";

body {
	margin: 0;
}

.content-title{
	text-align: center;
}

.content-list-wrapper ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.content-list-wrapper ul li{
	margin-top: 12px;
	font-weight: bold;
}