@charset "UTF-8";

body{
	margin: 0;
}

.nav-wrapper{
	height:75px;
}


.nav-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: blue;
	list-style-type: none;
}

.nav-item{
	padding: 15px;
	cursor: pointer;
}

.nav-item a{
	text-align: center;
	text-decoration: none;
	color: white;
}